.landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
.unicef-logo{
  height: 40px;
  display: flex;
}
.header {
  flex-shrink: 0;
  background-color: #1cabe2;
  padding: 20px;
  text-align: center;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.privacy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}
.required{
  color: red;
}
.donation-forms-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  background-color: #fff;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.progress-step {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  gap: 8px;
  font-size: 14px;
  color: grey;
}

.progress-step.active {
  color: #1cabe2;
}

.progress-step .step-circle {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-step.active .step-circle {
  background-color: #1cabe2;
  color: #fff;
}

.form-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.form-subtext {
  text-align: center;
  margin-bottom: 20px;
  color: grey;
}

.highlight {
  color: #1cabe2;
}

.donation-forms {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 15px; 
}

label {
  text-align: right;
  padding-right: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box; 
}

.phone-input {
  display: flex;
  align-items: center;
}

.phone-input span {
  margin-right: 10px;
  font-size: 16px;
}

.info-check {
  grid-column: 1 / -1;
  margin-bottom: 15px;
  font-size: 14px;
}

.checkbox-group {
  grid-column: 1 / -1;  
  display: flex;
  align-items: center;
  font-size: 14px;
}

.checkbox-group input {
  margin-right: 10px;
}

.submit-button {
  grid-column: 1 / -1; 
  background-color: #f7b600;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.submit-button:hover {
  background-color: #e5a500;
}



.privacy a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.privacy a:hover {
  text-decoration: underline;
}
